@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Gaegu&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.4;
  color: #1c1c1b;
}
.eng {
  font-family: "Roboto", "Noto Sans" sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #1c1c1b;
}
header {
  width: 100%;
  height: 104.64px;
  padding: 0px 20px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 1000;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  margin: auto 0;
}
header:hover {
  height: 350px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
header .header_inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  /* align-items: center;
  justify-content: center; */
  position: relative;
}
.header_inner .logo {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
}
.logo a {
  cursor: pointer;
}
.logo img {
  display: block;
  width: 200px;
  height: 51px;
}

.menu {
  width: calc(100% - 500px);
  display: block;
  margin: 0 auto;
}
.main-menu {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  position: relative;
}
.main-menu > li {
  width: 16.66%;
  position: relative;
  transition: all 0.2s ease;
}
.main-menu > li > a {
  font-size: 1.1em;
  padding: 40px 0;
  display: inline-block;
  color: #1c1c1b;
  font-weight: 500;
  position: relative;
}
.main-menu > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #1c1c1b;
  transition: all 0.4s ease;
  transform-origin: center;
  transform: scaleX(0);
}
.main-menu li:hover {
  background-color: #fdd000;
}
.main-menu li:hover .submenu-area {
  background-color: #fdd000;
}

.submenu-area {
  position: absolute;
  top: 104.64px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 500px);
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform-origin: top center;
  pointer-events: none;
  transition: all 0.2 ease;
  z-index: 1100;
}
.submenu-area ul {
  width: calc(100% / 6);
}

header:hover .submenu-area {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.submenu li a {
  display: block;
  padding: 6px 0;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.main-menu > li:hover .submenu {
  max-height: 400px;
}

.header_inner .sns {
  position: absolute;
  top: 30px;
  right: 0;
  width: 196px;
}
.sns ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sns li {
  box-shadow: 0 0 0 2px #1c1c1b;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
}
.sns li:hover {
  box-shadow: 0 0 0 2px #fdd000;
  background-color: #fdd000;
}
.sns li a {
  display: block;
  padding: 3px;
  position: relative;
}
.sns li a img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none;
}
.cont_box {
  /* height: 738px; */
  padding: 0px !important;
  overflow: hidden;
}
#section1 {
  height: 738px;
}
.fp-tableCell {
  position: relative;
  z-index: 1;
}
.swiper_wrap {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  max-width: inherit;
}
.swiper-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  z-index: 1;
  background-color: #000;
}
.swiper-wrapper {
  height: 100% !important;
}

.swiper-slide {
  opacity: 1;
  margin-right: 0;
  height: 100%;
  overflow: hidden;
  background-size: cover !important;
  background-position: center center !important;
  cursor: grab;
}
.swiper-slide_img {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
}
.swiper-slide_img_pc {
  display: block;
}
.swiper-button_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.swiper-button_box {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  border: solid #1c1c1b;
  border-width: 0 0 2px 2px;
  top: 50%;
  opacity: 0.2;
}
.swiper-page {
  width: 100%;
  bottom: 10px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 10;
}
.swiper-page ul {
  display: flex;
  gap: 4px;
}
.swiper-page li {
  width: 20px;
  height: 8px;
  background-color: #fff;
  border-radius: 100px;
  opacity: 0.3;
}
.swiper-page li.active {
  width: 48px;
  border-radius: 5px;
  opacity: 1;
}
.scroll_down_icon {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scroll_down_icon_move 1 5s linear infinite;
  cursor: pointer;
}
.scroll_down_icon_mouse {
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 2px solid #fff;
  height: 50px;
  width: 25px;
  position: relative;
}
.scroll_down_icon_mouse_move {
  position: absolute;
  background-color: #fff;
  height: 8px;
  width: 4px;
  border-radius: 100px;
  left: 50%;
  animation: scroll_down_icon_move 2s linear infinite;
}
@keyframes scroll_down_icon_move {
  0% {
    bottom: 10px;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 0.2;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}
.scroll_down_text {
  margin-top: 5px;
  font-size: 13px;
}
