@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Chiron+GoRound+TC:wght@200..900&family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap");
/* 1. Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 2. 공통설정 */
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  letter-spacing: normal;
  line-height: 1.4;
  color: #1c1c1b;
  word-break: keep-all;
}

/* 3. Webkit */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background-color: #fdd000;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::selection {
  background-color: #fdd000;
  color: #1c1c1b;
}

/* 4. Utility */
div {
  display: block;
  unicode-bidi: isolate;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  overflow: clip;
}
h1,
h2 {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.robo {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  line-height: 1 !important;
  letter-spacing: -1px !important;
}
.robo h1,
.robo h2 {
  font-weight: 900 !important;
}
.text_center {
  text-align: center;
}
.right0 {
  right: 0 !important;
}
b {
  font-weight: 700;
}
.m {
  display: none !important;
  margin: 0 auto;
}
.pc {
  display: block !important;
  margin: 0 auto;
}
.fp-tableCell {
  position: relative;
  z-index: 1;
}
.table0 {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 0;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
.cell50 {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.section_middle {
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 5. Layout */
body {
  transition: padding 400ms ease-in-out;
  -webkit-font-smoothing: antialiased;
}
.main_body {
  overflow: hidden;
  height: 100%;
}

.main {
  height: 100%;
  position: relative;
  touch-action: none;
  transition: 700ms;
  display: block;
}

.cont_wrap {
  padding-top: 106px;
}
.main_body .cont_wrap {
  padding-top: 0 !important;
}
.main_body .cont_box {
  overflow: hidden;
}
.main_wrap .cont_box {
  padding: 0 !important;
}

/* 6. Components */
/* ================================================= (1) swiper ================================================= */
.swiper {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  transition-property: transform;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-next {
  transform: translate(-50%, -50%) rotate(-135deg);
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  transform: translate(-50%, -50%) rotate(45deg);
}
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: block;
  pointer-events: auto;
  cursor: pointer;
}
/* ========================================== (2) Button =========================================== */
button {
  outline: none;
  border: 0;
}
.btn {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.input_wrap3 {
  height: 55px !important;
}
.input_wrap3 .btn {
  font-size: 18px;
  padding: 0px 30px;
}
/* ========================================== (3) cont_box =========================================== */
/* cont_box  */
.cont_box {
  padding: 100px 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* cont_boxs */
.cont_boxs {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.cont_boxs:last-child {
  margin-bottom: 0;
}
/* cont_box, cont_boxs */
.main_wrap .cont_box .cont_boxs {
  padding: 0px 100px;
}
/* ========================================== (4) cont_list =========================================== */
.cont_list > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cont_list1 > ul > li {
  width: 100%;
  margin-right: 0;
}
.cont_list > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 20px;
}
.cont_list_small > ul > li {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.cont_list_small1 > ul > li {
  width: 100%;
  margin-right: 0;
}
.cont_list_small1 > ul > li:first-child {
  margin-top: 0;
}
/* ========================================== (5) cont_title =========================================== */
.cont_title_wrap {
  font-size: 24px;
  margin-bottom: 40px;
  position: relative;
}
.cont_title_wrap:last-child {
  margin-bottom: 0;
}
.cont_title_info:first-child {
  margin-top: 0;
}
.cont_title_info {
  margin: 15px 0;
}
.cont_title {
  font-size: 1.8em;
  line-height: 1.2;
  letter-spacing: -3px;
}
/* ========================================== (6) cont_text =========================================== */
.cont_text:last-child {
  margin-bottom: 0;
}
.cont_text:first-child {
  margin-top: 0;
}
.cont_text_box {
  margin-bottom: 20px;
}
.cont_text_box:last-child {
  margin-bottom: 0;
}
.cont_text_title {
  font-size: 1.4em;
  line-height: 1.2;
}
.cont_text_title b {
  font-weight: 400;
}
.cont_text {
  margin: 20px 0;
}
.cont_text_info {
  font-size: 0.9em;
  opacity: 0.7;
}
.cont_text_inner:first-child {
  margin-top: 0 !important;
}
.cont_text_inner:last-child {
  margin-bottom: 0 !important;
}
.cont_text_inner {
  margin: 5px 0;
}
.cont_text_wrap {
  margin: 40px 0;
}
.cont_text_wrap:first-child {
  margin-top: 0;
}

/* ========================================= 7. Animation ======================================= */
.animated {
  transition-timing-function: ease;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInUp {
  transition-duration: 1.2s;
  transition-property: opacity, transform;
  animation-name: fadeInUp;
}
.animation01 {
  animation-delay: 0s !important;
}
.animation02 {
  animation-delay: 0.2s !important;
}
/* .animation03 {
  animation-delay: 0.4s !important;
} */
.animation04 {
  animation-delay: 0.4s !important;
}
.animation05 {
  animation-delay: 0.6s !important;
}
.animation06 {
  animation-delay: 0.8s !important;
}
@keyframes scroll_down_icon_move {
  0% {
    bottom: 10px;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 0.2;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}

@keyframes scroll_down_icon_mouse_move {
  0% {
    transform: translate(-50%, 5px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
}
.scroll_down_text {
  margin-top: 5px;
  font-size: 15px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========================================== Section ============================================================= */
.wrap {
  width: 100%;
}
/* ============================================ 1. nav ================================================ */
.nav_wrap {
  position: fixed;
  right: 30px;
  top: 50%;
  text-align: center;
  z-index: 1000;
  font-size: 0.9em;
  transform: translateY(-50%);
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav_wrap .nav ul li {
  cursor: pointer;
  background: #1c1c1b;
  color: #fff;
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.nav_wrap .nav ul li:hover {
  background: #fdd000;
  color: #1c1c1b;
}
.nav_wrap .nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.nav_wrap .nav ul li .nav_cont_wrap {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: center;
}
.nav_wrap .nav ul li:nth-child(2) {
  color: #fdd000;
}
.nav_wrap .nav ul li:nth-child(2):hover {
  color: #1c1c1b;
}
.nav_wrap .nav ul li .cont_text {
  margin: 4px;
  transition: none;
}
.nav_wrap .nav ul li .cont_text_title {
  font-size: 1.4em !important;
  margin-top: 0;
}
.nav_quick {
  display: none;
}
/* ============================================ 2. header ================================================ */
.main_body .header_wrap {
  background: none;
  box-shadow: none;
}

.header_wrap {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto 0;
  padding: 0px 20px;
  vertical-align: middle;
  text-align: center;
  z-index: 9999;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.header_wrap.header_over {
  background-color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}
.header_wrap.header_fixed {
  background-color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}
.header_wrap .header {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  transition: all 0.2s ease;
}
.header_wrap .header .logo {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
}
.header_wrap .header .logo_img {
  display: block;
}
.header_wrap .header .logo_img_fixed {
  display: none;
}
.header_wrap.header_fixed .header .logo_img {
  display: none !important;
}
.header_wrap.header_fixed .header .logo_img_fixed {
  display: block !important;
}
.header_menu_wrap {
  text-align: center;
}
.header_wrap .header .header_menu {
  width: 100%;
  padding: 0px 300px;
}
.header_wrap .header .header_menu > ul {
  display: table;
  width: 100%;
}
.header_wrap .header .header_menu > ul > li {
  display: table-cell;
  width: 16.66%;
  vertical-align: top;
}
.header_wrap .header_menu > ul > li > a {
  display: block;
  padding: 40px 0;
  position: relative;
  font-weight: 500;
  font-size: 1.1em;
}
.header_menu > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 1px;
  background-color: #1c1c1b;
  transition: all 0.3s ease;
  transform-origin: center;
}
.header_menu > ul > li:hover a::after {
  width: 50%;
}
.header_menu > ul > .check {
  background-color: #fdd000;
}
.header_menu > ul > .check a::after {
  width: 50%;
}
.header_menu_down {
  display: none;
  padding: 20px;
  transition: all 0.3 ease;
  font-size: 0.9em;
  font-weight: 400;
}
.header_menu_down ul li a {
  display: block;
}
.header_menu_down > ul {
  display: block;
}
.header_menu_down ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.header_menu_down.check {
  background-color: #fdd000;
}

.header .sns {
  position: absolute;
  top: 30px;
  right: 0;
}
.header .sns ul li {
  box-shadow: 0px 0px 0px 2px #1c1c1b;
  border-radius: 100%;
  text-align: center;
  margin-top: 0;
}
.header .sns ul li a {
  display: block;
  padding: 3px;
  position: relative;
}
.header .sns ul li:hover {
  background-color: #fdd000;
  box-shadow: 0px 0px 0px 2px #fdd000;
}
.header .sns ul li a span {
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  padding: 2px 6px;
  font-size: 11px;
}
/* ============================================ 3. main ============================================================= */
.main_wrap {
  width: 100%;
  padding-top: 0 !important;
}
/* ============================================ (1) section1 - section_main ========================================== */
.section_main {
  text-align: center;
}
.section_main .cont_boxs {
  height: 100%;
}
.section_main .swiper_wrap {
  height: 100%;
}
.section_main .swiper {
  max-width: inherit;
}
.section_main .swiper-container {
  height: 100% !important;
}
.section_main .section_main_swiper {
  background-color: #000;
}
.section_main .swiper-wrapper {
  height: 100% !important;
}
.section_main .swiper-slide {
  opacity: 1;
  margin-right: 0;
  height: 100% !important;
  overflow: hidden;
  background-size: cover !important;
  background-position: center center !important;
  cursor: grab;
}
.section_main .swiper-slide .swiper-slide_img {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
}
.swiper-slide_img_pc {
  display: block;
}
.swiper-slide_img_m {
  display: none;
}
.section_main .swiper-button_wrapper {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.swiper-button_box {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
.section_main .swiper-button-next,
.section_main .swiper-button-prev {
  width: 60px !important;
  height: 60px !important;
  border: solid #1c1c1b;
  border-width: 0 0 2px 2px;
  top: 50%;
  opacity: 0.2;
}

.section_main .swiper-button-next {
  left: auto !important;
  right: 50px !important;
}
.section_main .swiper-button-prev {
  left: 50px !important;
  right: auto !important;
}
.swiper-pagination-bullet-active {
  width: 48px !important;
  border-radius: 5px !important;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 8px !important;
  background: #fff !important;
  border-radius: 100px;
}
.scroll_down_icon {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  animation: scroll_down_icon_move 1.5s linear infinite;
  cursor: pointer;
}
.scroll_down_icon_mouse {
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 2px solid #fff;
  height: 50px;
  width: 25px;
  position: relative;
}
.scroll_down_icon_mouse_move {
  position: absolute;
  background-color: #fff;
  height: 8px;
  width: 4px;
  border-radius: 100px;
  left: 50%;
  animation: scroll_down_icon_mouse_move 2s linear infinite;
}

/* ============================================ (2) section2 - section_menu ========================================== */
.swiper_overflow_left > ul > li:first-child {
  position: relative;
  z-index: 3;
}
.cont_list_content > ul > li {
  margin-right: 50px !important;
  margin-top: 0 !important;
  width: calc(1 / 2 * 100% - (1 - 1 / 2) * 50px) !important;
}
.section_menu .cont_list_content ul li .cont_title_wrap .cont_title {
  font-size: 1.48em;
}
.cont_title h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.cont_title_bg {
  position: relative;
}
.cont_title_bg::before {
  content: "";
  background-color: #fdd000;
  position: absolute;
  width: 0;
  padding: 0;
  height: 50%;
  z-index: -1;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
.cont_title_bg_active::before {
  width: 100%;
  padding: 0px 20px;
}
.input_width {
  display: inline-block;
  vertical-align: middle;
}

.btn1 {
  background-color: #fdd000;
  color: #1c1c1b;
  border: 0;
}
.cont_list_content > ul > li:nth-child(2n) {
  margin-right: 0 !important;
}
.cont_list_content > ul > li:last-child {
  margin-right: 0;
}
.section_menu .swiper_wrap {
  height: 100%;
}
.section_menu .swiper {
  max-width: 420px;
}

.swiper_overflow_container {
  overflow: visible;
  position: relative;
}
.swiper_overflow_container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -300%;
  z-index: 2;
  transform: scale(5);
}

.section_menu .swiper-wrapper {
  height: 100% !important;
}

.section_menu .cont_gallery_list > ul > li {
  width: 100% !important;
  box-shadow: none;
  align-self: flex-end;
}

.section_menu .swiper-slide {
  opacity: 1;
  overflow: hidden;
}
.cont_gallery_list > ul > li {
  position: relative;
}

.cont_gallery_list > ul li .cont_gallery_list_box {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: #fff;
}

.section_menu .swiper-slide-active .cont_text_box {
  display: block !important;
}
.section_menu .swiper-slide .cont_text_box {
  display: none;
  background: #f4f6f8;
  padding: 40px;
}
.cont_gallery_list > ul > li .cont_gallery_list_box .cont_text_box {
  padding: 8%;
}
.cont_gallery_list .text_wrap .text {
  word-break: break-word;
}
.text_wrap .text.text2 {
  height: 2.6em;
}
.text_wrap .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
}
.text_wrap .text.text1 {
  height: 1.3em;
}
.section_menu .swiper-button-next,
.section_menu .swiper-button-prev {
  top: 20%;
  opacity: 0.2 !important;
}
.section_menu .swiper-button-next:hover,
.section_menu .swiper-button-prev:hover {
  opacity: 1 !important;
}
.section_menu .swiper-button-next:active,
.section_menu .swiper-button-prev:active {
  opacity: 1 !important;
}
.section_menu .swiper-button-next {
  left: 520px !important;
}
.section_menu .swiper-button-prev {
  left: 480px !important;
}
.swiper-button-next,
.swiper-button-prev {
  margin-top: 0 !important;
  margin: 0;
  border: solid #363636;
  border-width: 0 0 2px 2px;
  width: 40px !important;
  height: 40px !important;
  background: none !important;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* ============================================ (3) section3 - section_franchise ========================================== */
.section_franchise {
  background-color: #fdd000 !important;
}
.cont_title h2 {
  font-size: 1.4em;
}

.cont_title_bg2::before {
  background-color: #fff !important;
}
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.btn2 {
  background: #1c1c1b;
  color: #fff;
  font-weight: 600 !important;
  border: 1px solid #1c1c1b;
}
.btn1:hover {
  background: #ffdf43;
}
.btn2:hover {
  background: #703614;
  border: 1px solid #703614;
}
.btn_ani:hover {
  transform: translateY(-4px);
}
.customer_btns {
  display: none;
}
/* ============================================ (4) section4 - section_company ========================================== */
.section_company .cell50:last-child {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.section_company .cell50:last-child img {
  max-width: inherit;
  min-height: 100%;
  position: absolute;
  left: 50%;
  width: 100%;
  object-fit: cover;
  padding-top: 40px;
  transform: translate(-50%, -50%);
}
/* ============================================ (5) section5 - section_news ========================================== */
.board_list_gallery {
  text-align: left;
}
.cont_list3 > ul > li:nth-child(-n + 3) {
  margin-top: 0;
}
.cont_list3 > ul li:nth-child(3n) {
  margin-right: 0;
}
.cont_list3 > ul > li {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 20px);
}

.cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img {
  position: relative;
  overflow: hidden;
}
.cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease;
}
.cont_gallery_list
  > ul
  > li:hover
  .cont_gallery_list_box
  .cont_gallery_list_img
  img {
  transform: translate(-50%, -50%) scale(1.1);
}

.board_list_gallery .cont_text {
  margin: 0;
}
.board_list_gallery .cont_text_title {
  margin-bottom: 10px;
}
.cont_gallery_list .text_wrap .text {
  word-break: break-word;
}
.text_wrap .text.text2 {
  height: 2.6em;
}
.board_list_gallery .cont_text ul li {
  margin-top: 0;
}

/* ============================================ (6) section6 - section_foot ========================================== */
.section_foot.cont_box {
  height: auto !important;
  padding: 0 !important;
}
.section_foot .fp-tableCell {
  height: auto !important;
}
.foot_menu_wrap {
  background: #fdd000;
  color: #1c1c1b;
  padding: 20px;
}
.foot_menu_wrap .foot_menu {
  max-width: 1280px;
  margin: 0 auto;
}
.foot_menu_wrap .foot_menu ul li {
  margin-top: 0;
}
.foot_wrap {
  background: #212121;
  color: #aaa;
  padding: 60px 20px;
  font-size: 0.9em;
}
.foot_wrap .foot {
  max-width: 1280px !important;
  margin: 0 auto;
}
.foot_wrap .cont_list_m1 ul li {
  margin-top: 0;
}
.foot_logo img {
  max-width: 180px;
}
.cont_list_width > ul {
  display: table;
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.cont_list_width > ul > li {
  float: none !important;
}
.foot_wrap .cont_list_m1 .foot_sns ul li {
  width: 39px;
}
.foot_sns ul li {
  background: #fff;
  border-radius: 100%;
}
.foot_sns ul li:hover {
  background: #fdd000;
}
.foot_sns ul li a {
  display: block;
  padding: 3px;
  position: relative;
}
.foot_wrap .cont_list_m1 .foot_sns .cont_list3 > ul > li:last-child {
  margin-right: 0;
}
.foot_wrap .cont_list_m1 .foot_sns .cont_list3 > ul > li:nth-child(3n) {
  margin-right: 10px;
}
.foot_wrap .foot .foot_info ul li:first-child {
  color: #fff;
}
.cont_list6 > ul > li:nth-child(-n + 6) {
  margin-top: 0;
}
.cont_list6 > ul > li:nth-child(6n) {
  margin-right: 0;
}
.cont_list6 > ul > li {
  width: calc(1 / 6 * 100% - (1 - 1 / 6) * 20px);
}
.foot_wrap .foot .cont_text_title {
  color: #fff;
  font-size: 1.2em;
}
.foot_wrap .foot .cont_list_small1 > ul > li > a {
  color: rgba(255, 255, 255, 0.6);
}
.foot_wrap .foot .cont_list_small1 > ul > li > a:hover {
  color: #fff;
  text-decoration: underline;
}
/* ============================================ 4. aside_menu ============================================================= */
.aside_menu {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: left;
  z-index: 2000;
}
.aside_menu ul {
  position: relative;
}
.aside_menu li {
  margin-bottom: 20px;
  cursor: pointer;
}
.aside_menu li.on span {
  width: 10px;
  background: #1c1c1b;
  opacity: 1;
}
.aside_menu li span {
  height: 2px;
  border-radius: 100%;
  opacity: 0.2;
  background-color: none;
  width: 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.aside_menu li.on .aside_menu_list_title {
  opacity: 1;
}
.aside_menu li .aside_menu_list_title {
  padding-left: 0px;
  opacity: 0.2;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* ========================================= 8. Media Queries ======================================= */
@media screen and (min-width: 1280px) {
  .section_menu .swiper-slide-active {
    width: 75% !important;
  }
}
@media screen and (max-width: 1280px) {
  body {
    width: 100%;
    left: 0;
    padding-top: 0 !important;
    margin-left: 0;
    font-size: 13px;
  }
  .pc {
    display: none !important;
  }
  .m {
    display: none !important;
  }
  .t {
    display: block !important;
  }
  /* nav ======================================================== */
  .nav_wrap {
    display: block !important;
    top: auto;
    bottom: 10px;
    right: 10px;
    transform: none;
  }
  .nav {
    display: none;
  }
  .nav_wrap .nav ul li {
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav_wrap .nav_quick {
    display: block;
    background: #1c1c1b;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 10px;
  }
  .nav_wrap .nav_quick img {
    width: 45px;
  }
  .nav_wrap .nav_quick_close {
    display: none;
    position: relative;
  }
  .nav_quick_close::before,
  .nav_quick_close::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #fff;
    transform: translate(0px, 0px) rotate(45deg);
    margin: auto;
  }
  .nav_quick_close::after {
    content: "";
    transform: translate(0px, 0px) rotate(-45deg);
  }
  /* header ======================================================== */
  .header_wrap {
    height: auto;
  }
  .header_wrap .header .logo {
    position: relative;
    top: 0;
    padding: 15px 0;
  }
  .header_menu_wrap {
    font-size: 1.2em;
    color: #fff;
    background-color: #222;
    overflow-y: scroll;
    padding: 60px;
    text-align: left;
    transition: all 0.2s ease;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    position: fixed;
    right: -100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
  }
  .header_wrap .header .header_menu {
    padding: 0;
    text-align: center;
  }
  .header_wrap .header .header_menu > ul > li {
    display: table;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header_wrap .header .header_menu > ul > li > a {
    padding: 15px;
  }
  .header_wrap .header .header_menu > ul > li > .head_menu_down {
    display: inline-block !important;
    width: 200px;
    padding: 0;
    vertical-align: top;
  }
  .header_menu_down {
    display: inline-block !important;
    padding: 0 !important;
    color: #aaa;
  }
  .header_menu_down > ul {
    display: block;
  }
  .header_menu_down_menu > ul > li {
    float: none;
  }
  .header_menu > ul > li > a::after {
    display: none;
  }
  .header_wrap .header .sns {
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  /* mobile-menu ======================================================== */
  .mobile_menu_icon_wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    text-align: right;
    z-index: 2;
  }

  .mobile_menu_icon {
    width: 22px;
    padding: 10px 0;
    position: relative;
  }
  .mobile_menu_icon .mobile_menu_icon_bar {
    height: 2px;
    width: 22px;
    border-radius: 100px;
    background: #1c1c1b;
    transition: all 0.2s ease;
  }
  .mobile_menu_icon .mobile_menu_icon_bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 22px;
    border-radius: 100px;
    background: #1c1c1b;
    margin: 4px auto;
    transition: all 0.2s ease;
  }
  .mobile_menu_icon .mobile_menu_icon_bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 22px;
    border-radius: 100px;
    background: #1c1c1b;
    margin: 4px auto;
    transition: all 0.2s ease;
  }
  .mobile_menu_icon_open .mobile_menu_icon_bar {
    background: #fff !important;
    height: 0;
  }
  .mobile_menu_icon_open .mobile_menu_icon_bar::before {
    content: "";
    background: #fff !important;
    top: 9px;
    transform: rotateZ(-45deg) translateY(-6px);
    width: 25px;
  }
  .mobile_menu_icon_open .mobile_menu_icon_bar::after {
    content: "";
    background: #fff !important;
    bottom: 10px;
    transform: rotateZ(45deg) translateY(6px);
    width: 25px;
  }
  .header_menu_logo {
    text-align: center;
    margin-bottom: 60px;
  }
  .header_menu_logo img {
    width: 100%;
    max-width: 200px;
  }
  /* cont ======================================================== */
  .cont_title_wrap {
    font-size: 20px;
  }
  .cont_title_bg_active::before {
    padding: 0px 5px;
  }
  .cont_wrap {
    padding-top: 71px;
  }
  .cont_box {
    padding: 60px !important;
  }
  .section_menu .cont_list_content ul li .cont_title_wrap .cont_title {
    font-size: 1.48em;
  }

  /* main */
  .main_wrap .cont_box .cont_boxs {
    padding: 60px;
  }
  .section_menu .swiper-slide-active .cont_text_box {
    padding: 20px;
  }
  .section_menu .swiper-button-next,
  .section_menu .swiper-button-prev {
    display: none !important;
  }
  /* foot */
  .foot_wrap .cont_list_content > ul > li {
    width: 100% !important;
    margin-right: 0 !important;
    display: block !important;
    float: none !important;
  }
  .foot_menu_wrap .cont_list > ul,
  .foot_wrap .cont_list > ul {
    display: table;
  }
  .foot_wrap {
    padding: 30px;
    text-align: center;
  }
  .foot_menu {
    text-align: center;
  }
  .foot_menu ul li {
    float: none;
  }
  .foot_logo {
    text-align: center;
  }
  .foot_logo img {
    max-width: 180px;
  }
  .foot_sns ul li {
    float: none;
  }
  .foot_info ul li {
    float: none;
  }
  /* fullpage */
  .aside_menu {
    display: none !important;
  }
  /* swiper */
  .swiper_pc {
    display: block;
  }
  .swiper_m {
    display: none;
  }
}
