@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Gaegu&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.4;
  color: #1c1c1b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #1c1c1b;
}
.robo {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  line-height: 1 !important;
  letter-spacing: -1px !important;
}
header {
  width: 100%;
  height: 104.64px;
  padding: 0px 20px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 1000;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  margin: auto 0;
}
header.fixed {
  background-color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}
header .logo_img {
  display: block;
}
header .logo_img_fixed {
  display: none;
}
header.fixed .logo_img {
  display: none;
}
header.fixed .logo_img_fixed {
  display: block;
}
header:hover {
  height: 280px;
  overflow: hidden;
  background-color: #fff;
}
header .header_inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  /* align-items: center;
  justify-content: center; */
  position: relative;
}
.header_inner .logo {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
}
.logo a {
  cursor: pointer;
}
.logo img {
  width: 200px;
  height: 51px;
}

.menu {
  width: calc(100% - 500px);
  display: block;
  margin: 0 auto;
}
.main-menu {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  position: relative;
}
.main-menu > li {
  width: 16.66%;
  position: relative;
  transition: background-color 0.25s ease;
}
.main-menu > li > a {
  font-size: 1.1em;
  padding: 40px 0;
  display: inline-block;
  color: #1c1c1b;
  font-weight: 500;
  position: relative;
}
.li_line_hov::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 50%;
  height: 1px;
  background-color: #1c1c1b;
  transition: all 0.3s ease;
  transform-origin: center;
}
.li_line_hov:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.submenu-area {
  position: absolute;
  top: 104.64px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 500px);
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform-origin: top center;
  pointer-events: none;
  transition: all 0.2 ease;
  z-index: 1100;
}
.submenu-area ul {
  padding-bottom: 20px;
  width: calc(100% / 6);
}

header:hover .submenu-area {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: background-color 0.25s ease;
}
.submenu li a {
  display: block;
  padding: 6px 0;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.submenu li a:hover {
  text-decoration-line: underline;
  text-underline-position: 2px;
}
.main-menu > li:hover .submenu {
  max-height: 350px;
}

.header_inner .sns {
  position: absolute;
  top: 30px;
  right: 0;
  width: 196px;
}
.sns ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sns li {
  box-shadow: 0 0 0 2px #1c1c1b;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
}

.sns li a {
  display: block;
  padding: 3px;
  position: relative;
}
.sns li a img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

main {
  width: 100%;
  /* height: auto; */
  position: relative;
  touch-action: none;
  padding-top: 0;
}
.main_wrap {
  height: 100%;
  position: relative;
  touch-action: none;
  transition: 700ms;
}
.cont_box {
  width: 100%;
  height: 100vh !important;
  padding: 0px !important;
  overflow: hidden;
}
.fp-tableCell {
  position: relative;
  z-index: 1;
  height: 100%;
}
.swiper_wrap {
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  /* max-width: inherit; */
  margin: 0 auto;
}
.swiper-container {
  height: 100% !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  z-index: 1;
  background-color: #000;
  /* overflow: visible !important; */
}
.swiper-wrapper {
  height: 100% !important;
}

.swiper-slide {
  opacity: 1;
  margin-right: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  background-size: cover !important;
  background-position: center center !important;
  cursor: grab;
}
.swiper-slide_img {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
}
.swiper-slide_img_pc {
  display: block;
}
.swiper-slide_img_m {
  display: none;
}
.swiper-button_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.swiper-button_box {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  border: solid #1c1c1b;
  border-width: 0 0 2px 2px;
  top: 50%;
  opacity: 0.2;
}
.swiper-page {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 14px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 10;
}
.swiper-page ul {
  display: flex;
  gap: 6px;
}
.swiper-page li {
  width: 20px;
  height: 8px;
  background-color: #fff;
  border-radius: 100px;
  opacity: 0.3;
}
.swiper-page li.active {
  width: 48px;
  border-radius: 5px;
  opacity: 1;
}
.scroll_down_icon {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  animation: scroll_down_icon_move 1.5s linear infinite;
  cursor: pointer;
}
.scroll_down_icon_mouse {
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 2px solid #fff;
  height: 50px;
  width: 25px;
  position: relative;
}
.scroll_down_icon_mouse_move {
  position: absolute;
  background-color: #fff;
  height: 8px;
  width: 4px;
  border-radius: 100px;
  left: 50%;
  animation: scroll_down_icon_mouse_move 2s linear infinite;
}
@keyframes scroll_down_icon_move {
  0% {
    bottom: 10px;
    opacity: 1;
  }
  50% {
    bottom: 0;
    opacity: 0.2;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}

@keyframes scroll_down_icon_mouse_move {
  0% {
    transform: translate(-50%, 5px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
}
.scroll_down_text {
  margin-top: 5px;
  font-size: 15px;
}

/* 섹션2 */
@keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade_up {
  animation-name: fade_up;
}
.sec2_middle {
  font-size: 13px;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1280px) {
  .main_wrap .cont_box .cont_boxs {
    padding: 60px;
  }
}
.cont_boxs {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* .main_wrap .cont_box .cont_boxs {
  padding: 0px 100px;
} */
.cont_boxs:last-child {
  margin-bottom: 0;
}

.cont_list {
  display: block;
}
.cont_list > ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.cont_list > ul > li {
  display: inline-block;
  vertical-align: middle;
}
.swiper_overflow_left > ul > li:first-child {
  position: relative;
  z-index: 3;
}
.cont_list_content > ul > li {
  margin-right: 50px !important;
  margin-top: 0 !important;
  width: calc(1 / 2 * 100% - (1 - 1 / 2) * 50px) !important;
}
.cont_title_wrap {
  font-size: 20px;
  margin-bottom: 40px;
  position: relative;
}
.cont_title_info:first-child {
  margin-top: 0;
}
.cont_title_info {
  margin: 15px 0;
}
.cont_title {
  font-size: 1.48em;
  transition-timing-function: ease;
  transition-duration: 1.2s;
}
.cont_title h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.cont_title_bg {
  position: relative;
}
.cont_title_bg::before {
  content: "";
  transition: all 0.4s ease;
  background-color: #fdd000;
  position: absolute;
  height: 50%;
  z-index: -1;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont_title_bg_active::before {
  width: 100%;
  padding: 0px 5px;
}
.cont_text:last-child {
  margin-bottom: 0 !important;
}

.cont_text_wrap {
  transition-timing-function: ease;
  transition-duration: 1.2s;
  margin-bottom: 0;
}
.cont_text_title {
  font-size: 1.4em;
  line-height: 1.2;
  margin-bottom: 20px;
}
.cont_text_title b {
  font-weight: 400;
}
.cont_text {
  transition-timing-function: ease;
  transition-duration: 1.2s;
  margin: 20px 0;
  font-size: 13px;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animation03 {
  animation-delay: 0.4s !important;
}
.animation04 {
  animation-delay: 0.6s !important;
}
.animation05 {
  animation-delay: 0.8s !important;
}
.animation06 {
  animation-delay: 1s !important;
}
.input_btn_wrap {
  display: inline-block;
  vertical-align: middle;
}
.input_wrap3 {
  height: 55px !important;
}
.input_wrap3 .btn {
  font-size: 18px;
  padding: 0px 30px;
  cursor: pointer;
}
.btn {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  cursor: pointer;
}
.btn1 {
  background-color: #fdd000;
  color: #1c1c1b;
  border: 0;
}
.cont_list_content > ul > li:last-child {
  margin-right: 0 !important;
}
.section_menu .swiper_wrap {
  height: 100%;
}
.section_menu .swiper {
  max-width: 420px;
}

.swiper_overflow_container {
  overflow: visible;
  position: relative;
}
.swiper_overflow_container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -300%;
  z-index: 2;
  transform: scale(5);
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  background-color: transparent;
}
.section_menu .swiper-wrapper {
  height: 100% !important;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}

.section_menu .cont_gallery_list > ul > li {
  width: 100% !important;
  box-shadow: none;
  align-self: flex-end;
}
.cont_gallery_list > ul > li {
  position: relative;
}
.section_menu .swiper-slide {
  opacity: 1;
  overflow: hidden;
}

.swiper-slide {
  margin-right: 15px;
  flex-shrink: 0;
  height: 100%;
}
.cont_gallery_list > ul li .cont_gallery_list_box {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  background-color: #fff;
}
.cont_gallery_list_box img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
.cont_gallery_list_box .cont_text_wrap {
  padding: 8%;
}
.section_menu .swiper-slide-active .cont_text_wrap {
  display: block;
}
.section_meu .swiper-slide .cont_text_wrap {
  display: none;
  background: #f4f6f8;
}
.cont_gallery_list .text_wrap .text {
  word-break: break-word;
}
.cont_text:first-child {
  margin-top: 0;
}
.cont_text_inner:first-child {
  margin-top: 0 !important;
}
.cont_text_inner:last-child {
  margin-bottom: 0 !important;
}
.cont_text_inner {
  margin: 5px 0;
}
.text_wrap .text.text2 {
  height: 2.6em;
}
.text_wrap .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
}
.text_wrap .text.text1 {
  height: 1.3em;
}
.cont_text_info {
  font-size: 0.9em;
  opacity: 0.7;
}
@media screen and (max-width: 1280px) {
  .section_menu .swiper-button-next,
  .section_menu .swiper-button-prev {
    display: none !important;
  }
}
.section_menu .swiper-button-next,
.section_menu .swiper-button-prev {
  top: 20%;
  opacity: 0.2 !important;
}
.section_menu .swiper-button-next {
  left: 520px !important;
}
.section_menu .swiper-button-prev {
  left: 480px !important;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.aside_menu {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: left;
  z-index: 2000;
}
.aside_menu ul {
  position: relative;
}
.aside_menu li {
  margin-bottom: 20px;
  cursor: pointer;
}
.aside_menu li.on span {
  width: 10px;
  background: #1c1c1b;
  opacity: 1;
}
.aside_menu li span {
  height: 2px;
  border-radius: 100%;
  opacity: 0.2;
  background-color: none;
  width: 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.aside_menu li.on .aside_menu_list_title {
  opacity: 1;
}
.aside_menu li .aside_menu_list_title {
  padding-left: 0px;
  opacity: 0.2;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
